<?php require_once(__DIR__.'/flight-info.html'); ?>
<div class="container">
    <form method="post" action="index.php?page=choose-seat&action=submit">
        <table class="table table-striped" id="seat-table">
            <thead>
                <tr>
                    <th>Seat No</th>
                    <th>Child</th>
                    <th>Wheelchair</th>
                    <th>Special Diet</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                <?=get($vars, 'seat_table')?>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-4" id="seat-count">
                0 Number of Seats Selected
            </div>
            <div class="col-md-4 text-center">
                <a href="index.php?page=search-flight" class="btn btn-default text-center">Search New Flight</a>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary pull-right">Add to Bookings</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="http://www-student.it.uts.edu.au/~wtjo/poti-1/static/js/choose-seat.js"></script>
