<?php require_once(__DIR__.'/flight-info.html'); ?>
<?php require_once(__DIR__.'/flight-seats.html'); ?>
<div class="container text-center" id="user-details">
    <div class="row">
        <?=get($vars, 'name')?>
    </div>
    <div class="row">
        <?=get($vars, 'email')?>
    </div>
    <div class="row">
        <?=get($vars, 'address1')?>
    </div>
    <div class="row">
        <?=get($vars, 'address2')?>
    </div>
    <div class="row">
        <?=get($vars, 'suburb')?>
    </div>
    <div class="row">
        <?=get($vars, 'state')?>
    </div>
    <div class="row">
        <?=get($vars, 'country')?>
    </div>
    <div class="row">
        <?=get($vars, 'postcode')?>
    </div>
    <div class="row">
        <?=get($vars, 'credit_card_type')?>
    </div>
    <div class="row">
        <?=get($vars, 'notation_credit_card_number')?>
    </div>
    <div class="row">
        <?=get($vars, 'mobile_phone')?>
    </div>
    <div class="row">
        <?=get($vars, 'business_phone')?>
    </div>
    <div class="row">
        <?=get($vars, 'work_phone')?>
    </div>
</div>
<div class="container text-center">
    <a href="index.php?page=confirm-booking&action=submit" class="btn btn-primary">Stage 4 - Confirm Payment</a>
</div>
