<div class="container text-center">
    <h1>
        Contact Us
    </h1>
</div>
<div class="container">
    <form id="contact-us-form" method="post" action="index.php?page=contact-us&action=submit">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="first-name">First Name</label>
                <input type="text" name="first_name" value="<?=get($vars, 'first_name')?>" class="form-control" id="first-name" />
            </div>
            <div class="col-md-6 form-group">
                <label for="last-name">Last Name</label>
                <input type="text" name="last_name" value="<?=get($vars, 'last_name')?>" class="form-control" id="last-name" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group required">
                <label for="email-address">Email Address</label>
                <input type="email" name="email_address" value="<?=get($vars, 'email_address')?>" class="form-control" id="email-address" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group required">
                <label for="subject">Subject of Email</label>
                <input type="text" name="email_subject" value="<?=get($vars, 'email_subject')?>" class="form-control" id="subject" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group required">
                <label for="content">Content of Email</label>
                <textarea form="contact-us-form" class="form-control" rows="5" name="content" value="<?=get($vars, 'content')?>" id="content"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
        </div>
    </form>
</div>
