<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <h1>
                Thank You! <?=$vars['given_name']?> <?=$vars['family_name']?>
            </h1>
            <h1>
                Your booking has been completed.
            </h1>
            <h2>
                A confirmation email has been sent to <?=$vars['email']?>
            </h2>
        </div>
    </div>
</div>
