<div class="container">
    <table class="table table-bordered" id="booked-seat-table">
        <thead>
            <tr>
                <th>Seat No</th>
                <th>Child</th>
                <th>Wheelchair</th>
                <th>Special Diet</th>
            </tr>
        </thead>
        <tbody>
            <?=get($vars, 'booked_seat_table')?>
        </tbody>
    </table>
</div>
