<div class="container">
    <div class="text-center">
        <h1>
            <?=$vars['from_city']?> to <?=$vars['to_city']?>
        </h1>
        <h2>
            Price: $<?=$vars['price']?> USD
        </h2>
    </div>
</div>
