<head>
    <title>
        <?=$vars['title']?>
    </title>
    <link rel="stylesheet" type="text/css" href="<?=$vars['bootstrap_css_filepath']?>" />
    <link rel="stylesheet" type="text/css" href="<?=$vars['general_css_filepath']?>" />
</head>
