<div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <h1>
                Assignment 1
            </h1>
            <h1>
                31748 Programming on the Internet
            </h1>
            <h2>
                Wirawan Tjo 11993577
            </h2>
        </div>
    </div>
    <div class="text-center">
        <a href="index.php?page=search-flight" class="btn btn-lg btn-primary">Book a Flight Now</a>
    </div>
</div>
