<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.php">FliBooking</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="index.php?page=search-flight">Book a Flight</a></li>
            <li><a href="index.php?page=your-booking">Your Bookings</a></li>
            <li><a href="index.php?page=contact-us">Contact Us</a></li>
        </ul>
    </div>
</nav>
