<div class="container text-center">
    <h1>
        Complete Booking - Stage 2 of 4 - Payment Details
    </h1>
</div>
<div class="container text-center" id="user-details">
    <div class="row">
        <?=get($vars, 'name')?>
    </div>
    <div class="row">
        <?=get($vars, 'email')?>
    </div>
    <div class="row">
        <?=get($vars, 'address1')?>
    </div>
    <div class="row">
        <?=get($vars, 'address2')?>
    </div>
    <div class="row">
        <?=get($vars, 'suburb')?>
    </div>
    <div class="row">
        <?=get($vars, 'state')?>
    </div>
    <div class="row">
        <?=get($vars, 'country')?>
    </div>
    <div class="row">
        <?=get($vars, 'postcode')?>
    </div>
    <div class="row">
        <?=get($vars, 'mobile_phone')?>
    </div>
    <div class="row">
        <?=get($vars, 'business_phone')?>
    </div>
    <div class="row">
        <?=get($vars, 'work_phone')?>
    </div>
</div>
<div class="container">
    <form method="post" action="index.php?page=payment&action=submit">
        <div class="row">
            <div class="col-md-4 form-group required">
                <label for="credit-card-type">Credit Card Type</label>
                <select class="form-control" id="credit-card-type" name="credit_card_type">
                    <?=get($vars, 'credit_card_type_options')?>
                </select>
            </div>
            <div class="col-md-8 form-group required">
                <label for="credit-card-number">Credit Card Number</label>
                <input type="text" name="credit_card_number" class="form-control" id="credit-card-number" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group required">
                <label for="credit-card-name">Name on Credit Card</label>
                <input type="text" name="credit_card_name" class="form-control" id="credit-card-name" />
            </div>
            <div class="col-md-6 form-group required">
                <div class="row">
                    <div class="col-md-6 form-group required">
                        <label for="expiry-month">Month Expired</label>
                        <select class="form-control" id="expiry-month" name="expiry_month">
                            <?=get($vars, 'month_options')?>
                        </select>
                    </div>
                    <div class="col-md-6 form-group required">
                        <label for="expiry-year">Year Expired</label>
                        <select name="expiry_year" class="form-control" id="expiry-year">
                            <?=get($vars, 'year_options')?>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-2 text-center form-group required">
                <label for="security-code">Security Code (CCV)</label>
                <input type="text" name="security_code" class="form-control" id="security-code" />
            </div>
            <div class="col-md-5">
                <label for="button" id="hidden-label">Click Button</label>
                <button type="submit" id="button" class="btn btn-primary pull-right">Stage 3 - Review Bookings and Details</button>
            </div>
        </div>
    </form>
</div>
