<div class="container text-center">
    <h1>
        Complete Booking - Stage 1 of 4 - Personal Details
    </h1>
</div>
<div class="container">
    <p class="pull-right red">
        *State and Postcode are optional fields for bookings outside of Australia
    </p>
</div>
<div class="container">
    <form method="post" action="index.php?page=personal-detail&action=submit">
        <div class="row">
            <div class="col-md-6 form-group required">
                <label for="given-name">Given Name</label>
                <input type="text" name="given_name" class="form-control" value="<?=get($vars, 'given_name')?>" id="given-name" />
            </div>
            <div class="col-md-6 form-group required">
                <label for="family-name">Family Name</label>
                <input type="text" name="family_name" class="form-control" value="<?=get($vars, 'family_name')?>" id="family-name" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group required">
                <label for="address1">Address 1</label>
                <input type="text" name="address1" class="form-control" value="<?=get($vars, 'address1')?>" id="address1" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="address2">Address 2</label>
                <input type="text" name="address2" class="form-control" value="<?=get($vars, 'address2')?>" id="address2" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group required">
                <label for="suburb">Suburb</label>
                <input type="text" name="suburb" class="form-control" value="<?=get($vars, 'suburb')?>" id="suburb" />
            </div>
            <div class="col-md-6 form-group">
                <label for="postcode">Postcode</label>
                <input type="text" name="postcode" class="form-control" value="<?=get($vars, 'postcode')?>" id="postcode" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="state">State</label>
                <?=get($vars, 'state_input')?>
            </div>
            <div class="col-md-6 form-group required">
                <label for="country">Country</label>
                <select class="form-control" id="country" onchange="updateRequired();" name="country">
                    <?=get($vars, 'country_options')?>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group required">
                <label for="email">Email Address</label>
                <input type="email" name="email" class="form-control" value="<?=get($vars, 'email')?>" id="email" />
            </div>
            <div class="col-md-6 form-group">
                <label for="mobile-phone">Mobile Phone</label>
                <input type="text" name="mobile_phone" class="form-control" value="<?=get($vars, 'mobile_phone')?>" id="mobile-phone" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="business-phone">Business Phone</label>
                <input type="text" name="business_phone" class="form-control" value="<?=get($vars, 'business_phone')?>" id="business-phone" />
            </div>
            <div class="col-md-6 form-group">
                <label for="work-phone">Work Phone</label>
                <input type="text" name="work_phone" class="form-control" value="<?=get($vars, 'work_phone')?>" id="work-phone" />
            </div>
        </div>
        <div class="row">
            <div class="col-md12 form-group">
                <button type="submit" class="btn btn-primary pull-right">Stage 2 - Payment Details</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="http://www-student.it.uts.edu.au/~wtjo/poti-1/static/js/personal-detail.js"></script>
