<div class="container">
    <form class="form-inline text-center" method="post" action="index.php?page=search-flight">
        <div class="form-group">
            <label for="from_city">Select Starting City:</label>
            <select class="form-control" id="from_city" name="from_city">
                <?=$vars['from_cities']?>
            </select>
        </div>
        <div class="form-group">
            <label for="to_city">Select Destination City:</label>
            <select class="form-control" id="to_city" name="to_city">
                <?=$vars['to_cities']?>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
</div>
<div class="container">
    <?=get($vars, 'flight_table')?>
</div>
