<div class="container">
    <div class="text-center">
        <h1>Your Bookings</h1>
    </div>
    <form method="post" action="index.php?page=your-booking&action=submit">
        <?=get($vars, 'your_booking_table')?>
    </form>
</div>
